<a href="https://colab.research.google.com/github/jubymariajoseph/DSA-Activities/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Exploring python notebook***
Here we are exporing some basic operations using google colab. A virtual machine is used to execute the program. Google will provide the required machine when needed. A virtual memory is present to store the data. shift+enter can be used to run the cell. ctrl+\ to put comment.

In [ ]:
print('hello world')#printing the phrase hello world

hello world

#topic1

In [ ]:
print('why')

why

##subheading

In [ ]:
print('should')

should

In [ ]:
age=40.
print(age)
type(age)#to get datatype

40.0

float

In [ ]:
list(range(8,-1,-2))
details={'sam':7,'div':8}
details['div']
type(details)
details.keys()#to get key values
details.values()#to get values
details['location']='tvm'# to add another key and its value
print(details)
colours={'red','green','red','green'}
print(colours)
type(colours)

{'sam': 7, 'div': 8, 'location': 'tvm'}
{'green', 'red'}

set

In [ ]:
age=2.5+6j
print(age)
type(age)
days=['mon','tue','wed','sun']
print(days)
type(days)
days[3]

(2.5+6j)
['mon', 'tue', 'wed', 'sun']

'sun'

In [ ]:
birth_year=1998
age=2025-birth_year
print('Your age=',age)
Biodata={'name':'Juby','age':23,'Location':'Kottayam'}
print("Biodata is ",Biodata)

Your age= 27
Biodata is  {'name': 'Juby', 'age': 23, 'Location': 'Kottayam'}

In [ ]:
list(range(99,0,-2))

[99,
 97,
 95,
 93,
 91,
 89,
 87,
 85,
 83,
 81,
 79,
 77,
 75,
 73,
 71,
 69,
 67,
 65,
 63,
 61,
 59,
 57,
 55,
 53,
 51,
 49,
 47,
 45,
 43,
 41,
 39,
 37,
 35,
 33,
 31,
 29,
 27,
 25,
 23,
 21,
 19,
 17,
 15,
 13,
 11,
 9,
 7,
 5,
 3,
 1]

In [ ]:
To_do_list=['Complete the presentation','study for presentation','prepare for viva']
print(To_do_list)
print(To_do_list[1])
print(To_do_list[-2])#print second last one in the list
name='Juby'
print(len(name))#PRINT LENGTH OF STRING

['Complete the presentation', 'study for presentation', 'prepare for viva']
study for presentation
study for presentation
4

In [ ]:
num=float(input("enter a number:"))
num2=float(input("enter second number:"))
sum=num+num2
diff=num-num2
mul=num*num2
div=num/num2

print("sum is",sum)
print('difference is',diff)
print('mutiplication is',mul)
print('division is',div)

x=int(input('enter your age,'))
print("your age is ",x)
print(f"you are {x} years old")

enter a number:2
enter second number:1
sum is 3.0
difference is 1.0
mutiplication is 2.0
division is 2.0
enter your age,23
your age is  23
you are23 years old

In [ ]:
birthyear=int(input("Enter your Birth Year : "))
age=2025-birthyear
print(f"You are born in {birthyear} and you are {age} years old")

Enter your Birth Year : 2002
You are born in 2002 and you are 23 years old

In [ ]:
a=2
b=0.5
expo=a**b
floordiv=a//b
print(expo)
print(floordiv)

1.4142135623730951
4.0

In [ ]:
print(True and False)#and(logical operators)
print(False or False)#or
print(not True)#not

False
False
False

In [ ]:
print(1 in (1,2,3))#membership operator
print(1 not in [1,2,3])
print(1 in {1,2,3})
print('d' in ['Juby'])
a=10#identity operator
b=10
print(a is b)
c=9
d=8
print(c is not d)

True
False
True
False
True
True

In [ ]:
message=input("Enter the greeting message to printed")
times=int(input("Enter the number of times the greeting message to be printed"))
display=message*times
print(f"{message}"*times)

Enter the greeting message to printedhello
Enter the number of times the greeting message to be printed2
hellohello

In [ ]:
print("hello"[0:5])
print("hello"[::-1])
print("hello"[5:0:-1])
"ICT Academy of Kerala".split("a")

hello
olleh
olle

['ICT Ac', 'demy of Ker', 'l', '']

In [ ]:
string=input("enter the string:")#given string is palindrome or not
reverse=string[::-1]
string==reverse

enter the string:malayalam

True

In [ ]:
otp1=int(input("enter the first number"))
otp2=int(input("enter second"))
otp3=int(input("enter the third number"))
otp4=int(input("enter fourth"))
#list=[opt1,opt2,opt3,opt4]
digit={1:"one",2:"two",3:"three",4:"four",5:"five"}
print(digit[otp1],'-',digit[otp2],'-',digit[otp3],'-',digit[otp4])

enter the first number2
enter second3
enter the third number4
enter fourth1
two - three - four - one

In [ ]:
number=input("enter the otp:")#converting the number to words
digit={1:"one",2:"two",3:"three",4:"four",5:"five"}
otp0=int(number[0])
otp9=int(number[1])
otp8=int(number[2])
otp7=int(number[3])
print(digit[otp0],digit[otp9],digit[otp8],digit[otp7])

enter the otp:2341
two three four one

In [ ]:
number=input("enter the otp in words with one space between each number:")#converting the word to number
list=number.split(" ")
digit={"one":1,"two":2,"three":3,"four":4,"five":5, }
otp0=list[0]
otp9=list[1]
otp8=list[2]
otp7=list[3]
print(digit[otp0],digit[otp9],digit[otp8],digit[otp7])

enter the otp in words with space between each number:one two one two
1 2 1 2

In [ ]:
birthdate=int(input("Enter your birth year:"))
age=2025-birthdate
if age>=18:
  print("your are eligible for vote")
else:
  print("Not eligible for vote")

Enter your birth year:2020
Not eligible for vote

In [ ]:
number=float(input("enter a number:"))
if number>0:
  print(f"The number {number} is positive ")
elif number==0:
  print(f"the number {number}is zero")
else:
  print(f"The number {number} is negative")

enter a number:-1
The number -1.0 is negative

In [ ]:
age1=int(input("enter your age:"))
if 0<=age1<=12:
  print("child category")
elif 13<=age1<=19:
  print("Teenage category")
elif 20<=age1<=59:
  print("adult category")
else:
  print("senior citizen")

enter your age:65
senior citizen

In [ ]:
name=input("enter your full name:")
len=len(name)
if len>10:
  print("lengthy name")
else:
  print("short name")

enter your full name:juby maria joseph
lengthy name

In [ ]:
time=input("enter the railway time in HH:MM:")#convert
split=time.split(":")
if int(split[0])>12:
  split1=int(split[0])-12
  print(f"the time is {split1}:{split[1]} pm")
else:
  print(f"the time is {split[0]}:{split[1] }am")

enter the railway time in HH:MM:15:24
the time is 3:24 pm

In [ ]:
charac=input("enter a string:")
character=charac[::-1]
if character==charac:
  print("palindrome")
else:
  print("not palindrome")

enter a string:malayalam
palindrome

In [ ]:
colour=input("enter your favorite colour in small letters:")
if colour=='red'or colour[0]=='green'or colour[0]=='blue':
  print("primary colour")
else:
  print("not in primary colour")

enter your favorite colour in small letters:red
primary colour

In [ ]:
mfd=input("enter the manufacturing date in dd/mm/yyyy:")
list3=mfd.split("/")
day=int(list3[0])
#print(day)
month=int(list3[1])
year=int(list3[2])
if month>=7:
  year1=year+1
  month1=month+5//12
  day1=day
  if 2025>=year1:
    if 8>=month1:
      if 5>=day1:
        print("expired")
    else:
      print("not")
  else:
    print("not")
elif month<7:
  year2=year
  month2=month+5
  day2=day
  if 2025==year2:
    if 8>=month2:
      if 5>=day2:
       print("expired")
      else:
         print("not")
    else:
       print("not")
  else:
    print("not expired")

enter the manufacturing date in dd/mm/yyyy:06/02/2025
not

In [ ]:
num1=int(input("enter the number:"))
num2=int(input("enter the  second number:"))
num3=int(input("enter the third number:"))
if num1<=num2:
  if num2<=num3:
    print(f"{num3} is larger")
  else:
    print(f"{num2} is bigger")
else:
  if num1>=num3:
    print(f"{num1} is bigger")
  else:
    print(f"{num3} is bigger")

enter the number:8
enter the  second number:5
enter the third number:1
8 is bigger

In [ ]:
a=2
b=3.14827
print("a contains {}".format(a))
print("a contain {} and b contains{}".format(a,b))
print("a contain {1} and b contains{0}".format(a,b))
print(f"b contains {b:.2f}")

a contains 2
a contain 2 and b contains3.14827
a contain 3.14827 and b contains2
b contains 3.15

In [ ]:
name,age,location='guest',22,'cochin'#multivariable assignment
print(name)
print(age)
print(location)

guest
22
cochin

In [ ]:
a=10
b=20
print(a,b,sep="-")
print("hi",end="-")
print("welcome")

10-20
hi-welcome

In [ ]:
a=5#type convrsion and casting
b=str(a)
print(b,type(b))
c=float(a)
print(c,type(c))
d=tuple([1,2,3,])
print(d,type(d))
print(int(3.14))
print(int("3"),type(int("3")))
print(list("abc"),type(list("abc")))
dict([(1,"one"),(2,"two")])#convert list of tuple to dictionary
set([1,1,2])#convert list to set

5 <class 'str'>
5.0 <class 'float'>
(1, 2, 3) <class 'tuple'>
3
3 <class 'int'>
['a', 'b', 'c'] <class 'list'>

{1: 'one', 2: 'two'}

In [ ]:
import keyword#to get a list of keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#string join
domain=["data","science"]
"+".join(domain)

'data+science'

In [ ]:
h=[1,2,3]#list operations
h.append(4)
print(h)
h.extend([5,6])
print(h)
h.remove(2)
print(h)
h.insert(0,'a')
print(h)
h.reverse()
print(h)
h.remove('a')
print(h)
h.sort()
print(h)
h.pop(0)
print(h)
h.clear()
print(h)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
['a', 1, 3, 4, 5, 6]
[6, 5, 4, 3, 1, 'a']
[6, 5, 4, 3, 1]
[1, 3, 4, 5, 6]
[3, 4, 5, 6]
[]

In [ ]:
#a given day is holiday(sunday or saturday) or not

In [ ]:
date="dd/mm/yyyy"


f=date.split("/")
domain1=[f[0],f[1],f[2]]
do="-".join(domain1)
print(do)

p=domain1.reverse()
go="|".join(p)

dd-mm-yyyy

TypeError: can only join an iterable

In [ ]:
dictionary={'name':'juby','age':23,'place':'kottayam','university':'kerala university'}
print(dictionary.keys())
print(dictionary.items())
for u,v in dictionary.items():
  print(f"my {u} is {v}")

dict_keys(['name', 'age', 'place', 'university'])
dict_items([('name', 'juby'), ('age', 23), ('place', 'kottayam'), ('university', 'kerala university')])
my name is juby
my age is 23
my place is kottayam
my university is kerala university

In [ ]:
gro={'Tomato':10,'carrot':30,'wheat':40,'rice':50}
list1=[]
my_budget=100
start=0
for a,b in gro.items():
  if b<my_budget and b+start<=my_budget:
    list1.append(a)
    start=start+b
print(list1)

['Tomato', 'carrot', 'wheat']

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print(i)

15
30
45
60
75
90

In [ ]:
A=1#when iterations need to end
while A<10:
  print(A)
  A=A+2
else:
  print("you have crossed the limit")

1
3
5
7
9
you have crossed the limit

In [ ]:
print("nuggets(40rs),juice(50Rs),biriyani(80),shake(60)")
items1={"nuggets":40,"juice":50,"biriyani":80,"shake":60}
mybud=150
while mybud>0:

  #for h,n in items1.items():
    item=input("your choice")
    w=items1[item]
    mybud-=int(w)
else:
  print("out of balance")

nuggets(40rs),juice(50Rs),biriyani(80),shake(60)
your choicenuggets
your choicebiriyani
your choiceshake
out of balance

In [ ]:
d=5
a=0
while a!=d:
  print("guess again")
  number=int(input("enter the number:"))
  a=number
else:
  print("guessed correctly")

guess again
enter the number:2
guess again
enter the number:45
guess again
enter the number:5
guessed correctly

In [ ]:
import random
secret=random.randint(1,10)
l=int(input("enter a number"))
while a!=secret:
  a=int(input("enter your guess"))
else:
  print("right guess")

enter a number4
enter your guess2
enter your guess6
enter your guess8
enter your guess9
enter your guess1
enter your guess3
right guess

In [ ]:
password="juby"
t=input("enter a number password")
i=1
while t!=password:
  print(f"you have {3-i} attempts left")
  t=input("enter your password")
  i=i+1

  if i==3:
    print("finished")
    break
else:
  print("right guess")

enter a number password5ty6
you have 2 attempts left
enter your passwordjuki
you have 1 attempts left
enter your passwordjuby
finished

dictionary with keys movie name and values as ratings, list out

Fuctions

In [ ]:
def greet():#to avoid error if body of function is not present
  pass

In [ ]:
def greet(name,time):#functions with argument
  print(f"hello {name} welcome")
  print(f"your session will start at {time}")
greet('JUBY','3 pm')
greet("jwe",'1:15pm')
greet("ginny",'5pm')

hello JUBY welcome
your session will start at 3 pm
hello jwe welcome
your session will start at 1:15pm
hello ginny welcome
your session will start at 5pm

In [ ]:
def greet(name,time='11am'):#functions with argument default argument
  print(f"hello {name} welcome")
  print(f"your session will start at {time}")
greet('JUBY','3 pm')
greet("jwe",'1:15pm')
greet("ginny",'5pm')
greet('lini')

hello JUBY welcome
your session will start at 3 pm
hello jwe welcome
your session will start at 1:15pm
hello ginny welcome
your session will start at 5pm
hello lini welcome
your session will start at 11am

In [ ]:
num1=int(input("enter the number:"))
num2=int(input("enter the second number:"))
def product(num1,num2):
  print(f"The product, {num1}*{num2}={num1*num2}")
product(num1,num2)

enter the number:8
enter the second number:4
The product, 8*4=32

In [ ]:
def bill(total):
  total_amount=total+0.1*total
  print(f"the amout to be paid is {total_amount}")
total=int(input("enter the amout"))
bill(total)

enter the amout100
the amout to be paid is 110.0

In [ ]:
def bill2(total):
  if total<=100:
    total_amount=total+0.1*total
    print(f"the amout to be paid is {total_amount}")
  elif total>100 and total<=1500:
    total_amount=total+0.12*total
    print(f"the amout to be paid is {total_amount}")
  elif total>1500 and total<=3000:
    total_amount=total+0.15*total
    print(f"the amout to be paid is {total_amount}")
  else:
    total_amount=total+0.2*total
    print(f"the amout to be paid is {total_amount}")
total=int(input("enter the amout"))
bill2(total)

enter the amout1000
the amout to be paid is 1120.0

In [ ]:
num_list=[12,8,5,7,8,44,10,21]
def average_even(numberlist):
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num%2==0:
      even_list.append(num)
    else:
      odd_list.append(num)
  print("even list is",even_list)
  print("odd list",odd_list)
  average=sum(even_list)/len(even_list)
  average1=sum(odd_list)/len(odd_list)
  print("average of even list",average)
  print("average of odd list",average1)
average_even(num_list)

even list is [12, 8, 8, 44, 10]
odd list [5, 7, 21]
average of even list 16.4
average of odd list 11.0

In [ ]:
def sum_numbers(*argsm):#single star means in tuple format, ** means dictionary(keyword arguments) to use arbitary arguments if the number of arguments is is unkown
  print(type(argsm))
  total=0
  for i in argsm:
    total+=i
  print(total)
sum_numbers(6,3,4,1)

<class 'tuple'>
14

In [ ]:
def print_info(**argsd):# to change the keywords use double stars use for different keys
  for item,val in argsd.items():
    print(f"{item} is {val}")
print_info(name='alana',place='tvm',score=6)
print_info(Name='ron',Area='tvm',Batch=6)

name is alana
place is tvm
score is 6
Name is ron
Area is tvm
Batch is 6

In [ ]:
def square(x):
  y=x*x
  print(y)
square(10)
squarenum=lambda t:t*t#single opertion can be done using the lambda function
print(squarenum(6))
add=lambda c,n:c+n
add(3,6)

100
36

9

In [ ]:
def totalmarks(marks):#to use the result or fuctions done inside the function to be used later
  print(sum(marks))
  return (sum(marks))
finalscore=totalmarks([10,40,32,50,25])
if finalscore>=125:
  print("passed")
else:
  print("not passed")

157
passed

OOPS(Object oriented programming)easily access the code written somewhere, code security is higher, cannot be accessed randomly like functions





*  class- structure or blueprint,attributes-variable names(features- colour, brand), methods-functions in oops(action in class)
*   object/instance-to access the code, we need an object/key/instances


*  inheritance -
*   polymorphism
*   encapsulation
*   abstractiion

In [ ]:
class Animal:
  animal_type="dog"#attribute
  legs=4#attribute
  mammal="yes"#attribute
  def sound(self):#to distinguish users to use the class separately
    print("animal barks")
obj1=Animal()#to access object
obj1.sound()#to access object

**study object oriented programming from linkedin**

In [ ]:
class person:
  place="tvm"
  def __init__(self,name,age):#constructor(self starting or initializing (self-to identify the object) )
    self.name=name #store the attribute
    self.age=age
  def greet(self):
    return f"Hi myself {self.name} and my age is {self.age} and i'm from{self.place}"
obj1=person("laua",25)#giving something to store
print(obj1.greet())
obj2=person('jeena',23)
print(obj2.greet())

Hi myself laua and my age is 25 and i'm fromtvm
Hi myself jeena and my age is 23 and i'm fromtvm

In [ ]:
class employee:
  def __init__(self,name,emp_id,salary):
    self.name=name
    self.emp_id=emp_id
    self.salary=salary
  def display_info(self):
    print(f"Name:{self.name}")
    print(f"Employee_id:{self.emp_id}")
    print(f"salary:{self.salary}")
class Manager(employee):
  def __init__(self,name,emp_id,salary,dept,teamsize):
    super().__init__(name,emp_id,salary)
    self.dept=dept
    self.teamsize=teamsize
  def display_manager(self):
    self.display_info()
    print(f"deprtment:{self.dept}")
    print(f"Team size:{self.teamsize}")
class teamlead(Manager):
  def __init__(self,name,emp_id,salary,dept,teamsize,shift):
    super().__init__(name,emp_id,salary,dept,teamsize)
    self.shift=shift
  def display_teamlead(self):
    self.display_manager()
    print(f"shift:{self.shift}")

emp1=employee("john","1221",50000)
emp1.display_info()
manager1=Manager("jane","13333",60000,"cs",10)
manager1.display_manager()
teamlead=teamlead("hun","3456",80000,"it",20,"nightshift")
teamlead.display_teamlead()

Name:john
Employee_id:1221
salary:50000
Name:jane
Employee_id:13333
salary:60000
deprtment:cs
Team size:10
Name:hun
Employee_id:3456
salary:80000
deprtment:it
Team size:20
shift:nightshift

Enter the radius:4
Area of circle= 50.24

In [ ]:
name=input("Enter the name:")#student details
rollno=input("Enter the roll no:")
mark=input("Enter the mark:")
print(f"Name:{name}\nRoll No:{rollno}\nmark:{mark}")

Enter the name:gin
Enter the roll no:3
Enter the mark:45
Name:gin
Roll No:3
mark:45

In [ ]:
list1=[]
for i in range(5,26,2):
  list1.append(i)
print(list1)
for j in (0,10,1):
    current_number=list1[j+1]
    print("current number",current_number)
    previous_number=list1[j]
    print("previous number",previous_number)
    sum=current_number+previous_number
    print("sum is",sum)
    #j=j+1
    if j>=10:
      break

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
current number 7
previous number 5
sum is 12

IndexError: list index out of range

In [ ]:
list2=[10,20,33,46,55]#divisible by 5
for i in list2:
  if i%5==0:
    print(i,"\t")

10
20
55

In [ ]:
num1=int(input("Enter a number:"))
if num1!=0:
  count=0
  for i in range(2,num1-1):
    if num1%i==0:
      count+=1
if count==0:
  print("prime")
else:
  print("not prime")

Enter a number:23
prime

In [ ]:
list3=[30,67,29,10]#reverse list using for loop
for i in list3:
  if list[i]==len(list3):

In [ ]:
for i in range(1,5,1):
  sign='*'
  print(sign*i)

*
**
***
****

In [ ]:
num1=int(input("enter the number:"))
num2=int(input("enter the  second number:"))
num3=int(input("enter the third number:"))
if num1<=num2:
  if num2<=num3:
    print(f"{num3} is larger")
  else:
    print(f"{num2} is bigger")
else:
  if num1>=num3:
    print(f"{num1} is bigger")
  else:
    print(f"{num3} is bigger")

enter the number:5
enter the  second number:3
enter the third number:8
8 is bigger

coding - best practice


*   redability-PEP8 style
*   functions and DRY(don't repeat yourself)


*   error handling and exception and validation
*   writing pythonic code

*  docummentation and commenting

**Imports guidelines:**
Module can be considered as a .py file. It include what we are doing in the file enclosed in triple quotes. Modele level dunkers(__version__ = '1.0',
__author__ = 'Jane Doe') - two leading and two trailing underscores - should be placed after the module docstring but before any import statements. First satandard library later the related third party and Local Application/Library-Specific Imports(order). A blank line is used to separate them.

In [ ]:
# Standard library
import os
import sys
import json

# Third-party
import requests
import numpy as np
import pandas as pd

# Local application/library
from myproject import utils
from myproject.database import db_connector
import config

In [ ]:
import os
import numpy as np
import sys
version = '1.0'

**String quoting conventions**: double and single quotes can be used. To input double or single quotes in a string use backslash.

In [ ]:
print("\'wow")

'wow

**white spaces in expresions and statements in pep style:**

In [ ]:
x = 1#Use a single space around binary operators like =, +, -, *, ==, etc
y = 2
z = x + y

In [ ]:
my_list = [1, 2, 3]#No Space Just Inside Parentheses, Brackets, or Braces
x, y =4, 3#Don't Add Spaces Before a Comma, Semicolon, or Colon
if x == 4:
  print(x)
names = ['Alice', 'Bob', 'Charlie']#Use One Space After a Comma, Semicolon, or Colon
def func(a=5, b=10):#Avoid Spaces Around the '=' in Keyword Arguments and Default Parameter Values
    return a + b
#Avoid Spaces Around the . in Attribute Access